<div *oaIf="false">
  custom if directive
</div>
<div>
  oaControl directive
</div>
<input [formControl]="userName" oaControl />

<div>
  oaNumberOnly directive
</div>
<input [formControl]="age" oaNumberOnly />
<div>
  oaStrongPassword directive
</div>
<input [formControl]="password" type="password" oaStrongPassword />

<div [ngClass]="{'active': isActive}">
  This is Angular native NG-class
</div>
<div>
  OA-class directive
</div>
<div [oaClass]="{'active':isActive}">
  This is My custom OA-class
</div>
